<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    verbose="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    bootstrap="tests/bootstrap.php"
    >

    <logging>
        <log type="coverage-html" target="build/coverage-report"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
